nav {
  background-color: lightskyblue;
}

nav a {
  padding: 10px 15px;
  margin: 0px;
  display: inline-block;
  color: black;
  font-weight: 400;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background-color: gainsboro;
}
